/* src/components/styles/Auth.css */
.auth-container {
  width: 400px;
  margin: 5% auto;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Full height of the viewport */
  text-align: center;
}

.auth-container h1, .auth-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container .form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.auth-container input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.auth-container input:focus {
  border-color: #007bff;
  outline: none;
}

.auth-container button {
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  text-align: center;
  margin-top: 1rem;
  color: #555;
}

.auth-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.auth-container a:hover {
  text-decoration: underline;
}

.center-icon {
  margin-bottom: 20px; /* Add some space below the icon if needed */
}

.form-group {
  margin-bottom: 15px; /* Add space between form groups */
}

form {
  width: 100%;
  max-width: 300px; /* Optional: Set a max width for the form */
}
